/* ---    COLOUR GUIDE
GOLD: rgb(172, 140, 71);
PURPLE: rgb(158, 8, 168);
WHITE: rgb(226, 226, 226);
BLACK: rgb(46, 46, 46);
       rgb(15, 15, 15);
       rgba(15, 15, 15, 0.74);
----*/

/*-- apply a natural box layout model to all elements --*/

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

@font-face {
	font-family: 'Nexa Script Thin';
	src: url('../fonts/nexa_script_thin.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/nexa_script_thin.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/nexa_script_thin.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/nexa_script_thin.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/nexa_script_thin.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/nexa_script_thin.svg#nexa_script_thin') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Segoe UI';
	src: url('../fonts/segoe_ui.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/segoe_ui.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/segoe_ui.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/segoe_ui.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/segoe_ui.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/segoe_ui.svg#segoe_ui') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Segoe UI Gras';
	src: url('../fonts/segoe_ui_gras.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/segoe_ui_gras.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/segoe_ui_gras.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/segoe_ui_gras.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/segoe_ui_gras.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/segoe_ui_gras.svg#segoe_ui_gras') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Segoe UI Gras Italique';
	src: url('../fonts/segoe_ui_gras_italique.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/segoe_ui_gras_italique.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/segoe_ui_gras_italique.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/segoe_ui_gras_italique.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/segoe_ui_gras_italique.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/segoe_ui_gras_italique.svg#segoe_ui_gras_italique') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Segoe UI Italique';
	src: url('../fonts/segoe_ui_italique.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/segoe_ui_italique.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/segoe_ui_italique.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/segoe_ui_italique.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/segoe_ui_italique.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/segoe_ui_italique.svg#segoe_ui_italique') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Segoe UI Light';
	src: url('../fonts/segoe_ui_light.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/segoe_ui_light.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/segoe_ui_light.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/segoe_ui_light.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/segoe_ui_light.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/segoe_ui_light.svg#segoe_ui_light') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Segoe UI Semibold';
	src: url('../fonts/segoe_ui_semibold.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/segoe_ui_semibold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/segoe_ui_semibold.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/segoe_ui_semibold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/segoe_ui_semibold.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/segoe_ui_semibold.svg#segoe_ui_semibold') format('svg'); /* Chrome < 4, Legacy iOS */
}

/*----- BODY (GLOBAL?) STYLES -----*/

body {
    width: 100%;
    max-width: 1200px;
    /*in viewports above 1200px, the body remains at 1200px and centers itself in the available space*/
    font-size: 16px;
    font-family: 'Segoe UI', Garamond, serif;
    font-weight: 400;
    /*also loaded 600 and 700 for headers and bold*/
    color: rgb(226, 226, 226);
    padding: 2% 6% 6% 6%;
    background-color: rgb(15, 15, 15)
}

/*-------- NAVIGATION BAR STYLES ------*/

nav {
    background-color: transparent;
    padding-top: 10px;
}
a {
    color: rgb(226, 226, 226);
    text-decoration: none;
}

.menu,
.submenu {   
    list-style-type: none;
}
.menu {
    padding: 1em;
    margin: 1em;
}
.logo {
    font-size: 1.5em;
    padding: .5em 0 .5em 0;
}
.sub-logo {
    font-family: 'Nexa Script Thin';
    display: inline-block;
    padding-top: .2em;
    border-top: 1px solid rgb(226, 226, 226);
    margin-top: .2em;
}
.item a {
    padding: .7em;
}
.item:not(.button) a:hover,
.item a:hover::after {
    color: rgb(158, 8, 168);    
}

/* MENU PHONE SPECIFIC STYLES */
.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.logo {
    flex-basis: content;
}
.menu li a {
    display: block;
}
.menu li.subitem a {
    padding: .9em;
}
.toggle {
    font-size: 20px;
}
.item {
    width: 100%;
    text-align: center;
    display: none;
}
.active .item {
    display: block;
} /* when the toggle is on */

/* SUBMENU PHONE SPECIFIC STYLES */
.submenu {
    display: none;
}
.submenu-active {
    background-color: #111;
    border-radius: 1px;
}
.submenu-active .submenu {
   display: block;
}
.has-submenu i {
    font-size: .9em;
}/* the size of the toogle icon */
.has-submenu > a::after {
    font-family: "Font Awesome 5 Free";
    font-size: 12px;
    line-height: 16px;
    font-weight: 900; 
    content: "\f0d7";
    color: rgb(226, 226, 226);
    padding-left: 5px;
}
.subitem a {
    padding: 10px 15px;
}

/* -- HERO IMAGE STYLES --------- */

#hero-image {
    background-image: url("../images/oksana-hero-image-phone.jpg");
    background-repeat: no-repeat;
    background-color: rgb(226, 226, 226);
    height: 200px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 20px;
    align-content: start;
	justify-content: center;
	align-items: end;
	height: 100%;
}

/* -- HERO TEXT STYLES ---------*/

.hero-text-box {
	grid-column: 1 / -1;
	grid-row: 1 / -1;
	padding: 2rem;
	z-index: 2;
	text-align: left;
    color: var(--white-color);
    margin: 2rem;
    background-color: rgba(15, 15, 15, 0.74);
}

.hero-heading {
	font-size: 1.2rem;
	letter-spacing: .05rem;
	font-family: 'Segoe UI Gras';
}

.hero-text {
	font-size: 1rem;
	margin-top: .5rem;
}

/* --- MAIN STYLES ----*/

main {
    display: block;
    background-color: rgb(226, 226, 226);
    color: rgb(46, 46, 46);
    padding-top: 2em;
    padding-bottom: 2em;
    min-height: 85%;
    /*makes sure that the bottom navigation shows up at the bottom of the page */

}

article {
    width: 95%;
    border-bottom: 2px solid rgb(121, 121, 121);
    margin-left: auto;
    margin-right: auto;
}

article h1 {
    text-align: center;
    font-family: 'Segoe UI Semibold';
    font-size: 1.5em;
    padding: 1em 0 1em 0;
    text-transform: uppercase;
}

/*----- MATERIALS STYLES ----------------------*/

.teaching-material {
    padding: 1em;
    margin: 1em;
    border: solid 1.5px rgb(121, 121, 121);
    background-color: #fff;
}

.teaching-material img {
    width: 100%;
    margin-bottom: .5em;
}

.teaching-material .title {
    font-family: 'Segoe UI Semibold';
    text-align: center;
    color: rgb(46, 46, 46);

}

.teaching-material .desc {
    padding-top: 1em;
    padding-bottom: 1em;
    font-family: "Segoe UI Italique";
    min-height: 35%;
}

.teaching-material a {
    color: rgb(158, 8, 168);
}


/* ----- GLOBAL FOOTER STYLES -----------------*/

#footer-wrapper {
    background-color: rgb(46, 46, 46);
    padding: 1em;
}

footer {
    text-transform: uppercase;
    margin: 0;
    clear: both;
    font-size: .8em;
    text-align: center;
    padding: .6em;
}


/* ----- OTHER STUFF ----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}