/* ---    COLOUR GUIDE
GOLD: rgb(172, 140, 71);
PURPLE: rgb(158, 8, 168);
WHITE: rgb(226, 226, 226);
BLACK: rgb(46, 46, 46);
       rgb(15, 15, 15);
       rgba(15, 15, 15, 0.74);
----*/

@media only screen and (min-width: 641px) {

    /* -- HERO IMAGE STYLES ---------*/
    #hero-image {
        background-image: url("../images/oksana-hero-image-tablet.jpg");
        height: 400px;
    }

    /* -- HERO TEXT STYLES -- */
    .hero-heading {
        font-size: 1.6rem;
    }
    
    .hero-text {
        font-size: 1.2rem;
    }
    
    /* NAVIGATION */
    .menu {
        background: none;
        flex-wrap: wrap;
        align-items: center;
    }
    .logo {
        order: 0;
        flex: 1 100%;
    }
    .toggle {
        display: none;
    }
    .item {
        order: 1;
        position: relative;
        display: block;
        width: auto;
    }
    .menu .item a {
        padding-top: 1em;
        font-size: 1.2em;
    }
    .menu .subitem a {
        font-size: 1.1em;
    }
    .submenu-active .submenu {
        display: block;
        position: absolute;
        left: 0;
        top: 68px;
        background: rgba(15, 15, 15, 0.74);
        border-radius: 1px;
    }
    .submenu-active {
        border-radius: 0;
    }

}

/*end of the media query */