/* -------------------------------------------------
                     COLOUR GUIDE

GOLD: rgb(172, 140, 71);
WHITE: rgb(226, 226, 226);
BLACK: rgb(46, 46, 46);
       rgb(15, 15, 15);
       rgba(15, 15, 15, 0.74);

-------------------------------------------------- */

@media only screen and (min-width: 1140px) {

    /* HERO IMAGE */
    #hero-image {
        background-image: url("../images/oksana-hero-image-desktop.jpg");
        height: 500px;
        background-position: center;
    }

    /*-----INSIDE THE WRAPPERS-----*/
    header,
    nav,
    .row,
    footer {
        max-width: 1140px;
        margin: 0 auto;
        /*centers everything on the page;*/
    }

    /*----- HEADER -----*/
    header {
        padding-top: 2em;
        padding-bottom: 2em;
    }

    /*----- NAVIGATION ---*/

    nav ul li a {
        transition: background .3s linear;
        padding: .2em 1.5em;
    }

    nav ul li a:hover {
        background-color: rgb(75, 75, 75);
    }

    main {
        display: flex;
    }

    .columns-desktop {
        display: flex;
        flex: 1;
    }

}

/*end of the media query */
