/* -------------------------------------------------
                     COLOUR GUIDE

WHITE: rgb(226, 226, 226)
BLACK: rgb(15, 15, 15)
       rgba(15, 15, 15, 0.74)

-------------------------------------------------- */

/* -------------------------------------------------
                     GLOBAL STYLES
-------------------------------------------------- */

body {
    font-family: Georgia;
    background-color: #fdfdfd;
}

.container {
    background-image: url('../images/oksana-foto.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    height: 500px;
    width: 100%;
}

img {
    width: 100%;
}


a:link {
    color: rgb(172, 140, 71);
}

    a:visited {
        color: rgb(100, 81, 41);  
    }

    a:hover {
        color: rgb(224, 182, 90);
    }

    a:active {
        color: rgb(252, 217, 142);  
    }

/* ---------------------------------------------------
                GLOBAL FOOTER STYLES
----------------------------------------------------*/

footer {
    padding: 10px, 0;
}

    footer h4 {
        text-transform: uppercase;
    }

    footer p {
        margin: 0;
    }