/* ---    COLOUR GUIDE
GOLD: rgb(172, 140, 71);
WHITE: rgb(226, 226, 226);
BLACK: rgb(46, 46, 46);
       rgb(15, 15, 15);
       rgba(15, 15, 15, 0.74);
----*/

/*-- apply a natural box layout model to all elements --*/

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/*----- BODY (GLOBAL?) STYLES -----*/

body {
    width: 100%;
    max-width: 1200px;
    /*in viewports above 1200px, the body remains at 1200px and centers itself in the available space*/
    font-size: 16px;
    font-family: Georgia, serif;
    font-weight: 400;
    /*also loaded 600 and 700 for headers and bold*/
    color: rgb(226, 226, 226);
    padding: 2% 6% 6% 6%;
    background-color: rgb(15, 15, 15)
}

/*-------- NAVIGATION BAR STYLES ------*/

nav {
    background-color: transparent;
    padding: 0 15px;
}
a {
    color: rgb(226, 226, 226);
    text-decoration: none;
}
.menu,
.submenu {   
    list-style-type: none;
}
.logo {
    font-size: 20px;
    padding: 7.5px 10px 7.5px 0;
}
.item {
    padding: 10px;
}
.item:not(.button) a:hover,
.item a:hover::after {
    color: rgb(172, 140, 71);
}

/* MENU PHONE SPECIFIC STYLES */
.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.menu li a {
    display: block;
    padding: 15px 5px;
}
.menu li.subitem a {
    padding: 15px;
}
.toggle {
    font-size: 20px;
}
.item {
    width: 100%;
    text-align: center;
    display: none;
}
.active .item {
    display: block;
}

/* SUBMENU PHONE SPECIFIC STYLES */
.submenu {
    display: none;
}
.submenu-active .submenu {
   display: block;
}
.has-submenu i {
    font-size: 12px;
}
.has-submenu > a::after {
    font-family: "Font Awesome 5 Free";
    font-size: 12px;
    line-height: 16px;
    font-weight: 900; 
    content: "\f078";
    color: rgb(226, 226, 226);
    padding-left: 5px;
}
.subitem a {
    padding: 10px 15px;
}
.submenu-active {
    background-color: #111;
    border-radius: 3px;
}

/* -- HERO IMAGE STYLES ---------*/

#hero-image {
    background-image: url("../images/oksana-hero-image-phone.jpg");
    background-repeat: no-repeat;
    background-color: rgb(226, 226, 226);
    height: 200px;
}

/* --- MAIN STYLES ----*/

main {
    display: block;
    background-color: rgb(226, 226, 226);
    color: rgb(46, 46, 46);
    padding-top: 2em;
    padding-bottom: 2em;
    min-height: 85%;
    /*makes sure that the bottom navigation shows up at the bottom of the page */

}

article {
    width: 95%;
    border-bottom: 2px solid rgb(121, 121, 121);
    margin-left: auto;
    margin-right: auto;
}

article h1 {
    text-align: center;
    font-size: 1.5em;
    padding: 1em 0 1em 0;
    text-transform: uppercase;
}

/*----- MATERIALS STYLES ----------------------*/

.teaching-material {
    padding: 1em;
    margin: 1em;
    border: solid 1.5px rgb(121, 121, 121);
    background-color: #fff;
}

.teaching-material img {
    width: 100%;
    margin-bottom: .5em;
}

.teaching-material .title {
    font-weight: bold;
    text-align: center;
    color: rgb(46, 46, 46);

}

.teaching-material .desc {
    padding-top: 1em;
    padding-bottom: 1em;
    font-style: italic;
    min-height: 35%;
}

.teaching-material a {
    color: rgb(172, 140, 71);
}


/* ----- GLOBAL FOOTER STYLES -----------------*/

#footer-wrapper {
    background-color: rgb(46, 46, 46);
    padding: 1em;
}

footer {
    text-transform: uppercase;
    margin: 0;
    clear: both;
    font-size: .8em;
    text-align: center;
    padding: .6em;
}


/* ----- OTHER STUFF ----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}