/* ---    COLOUR GUIDE

GOLD: rgb(172, 140, 71);
WHITE: rgb(226, 226, 226);
BLACK: rgb(46, 46, 46);
       rgb(15, 15, 15);
       rgba(15, 15, 15, 0.74);

----*/

/*-- apply a natural box layout model to all elements --*/

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/*----- BODY (GLOBAL?) STYLES -----*/

body {
    width: 100%;
    max-width: 1200px;
    /*in viewports above 1200px, the body remains at 1200px and centers itself in the available space*/
    font-size: 16px;
    font-family: Georgia, serif;
    font-weight: 400;
    /*also loaded 600 and 700 for headers and bold*/
    color: rgb(226, 226, 226);
    padding: 2% 6% 6% 6%;
    background-color: rgb(15, 15, 15)
}

h1 {
    font-size: 1.5em;
    margin-top: .5em;
}

/*-------- HEADER ------*/
#header-wrapper {
    background-color: rgb(226, 226, 226);
    color: rgb(46, 46, 46);
}

header {
    padding: 1em 2% .5em 2%;
    text-align: center;
}

header h1 {
    font-size: 2.1em;
    margin: 0;
}

header h2 {
    font-size: 1.5em;
    font-style: italic;
    margin-top: .45em;
}

/* -- HERO IMAGE STYLES ---------*/

#hero-image {
    background-image: url("../images/oksana-hero-image-phone.jpg");
    background-repeat: no-repeat;
    background-color: rgb(226, 226, 226);
    height: 200px;
}

/*-------- NAVIGATION STUFF HERE ------*/

#nav-wrapper {
    background-color: rgb(15, 15, 15);
}

nav ul {
    padding: .8em;
}

nav ul li {
    float: left;
    width: 25%;
}

nav ul li a {
    display: block;
    text-align: center;
    font-weight: 400;
    color: rgb(226, 226, 226);
    font-size: 1.3em;
    text-decoration: none;
    margin: .6em 0;
    border-right: 2.5px solid rgb(128, 128, 128);
}

nav ul li:last-child a {
    border-right: none;
}

/* --- MAIN STYLES ----*/

main {
    display: block;
    background-color: rgb(226, 226, 226);
    color: rgb(46, 46, 46);
    padding-top: 2em;
    padding-bottom: 2em;
    min-height: 85%;
    /*makes sure that the bottom navigation shows up at the bottom of the page */

}

article {
    width: 95%;
    border-bottom: 2px solid rgb(121, 121, 121);
    margin-left: auto;
    margin-right: auto;
}

article h1 {
    text-align: center;
    font-size: 1.5em;
    padding: 1em 0 1em 0;
    text-transform: uppercase;
}

/*----- MATERIALS STYLES ----------------------*/

.teaching-material {
    padding: 1em;
    margin: 1em;
    border: solid 1.5px rgb(121, 121, 121);
    background-color: #fff;
}

.teaching-material img {
    width: 100%;
    margin-bottom: .5em;
}

.teaching-material .title {
    font-weight: bold;
    text-align: center;
    color: rgb(46, 46, 46);

}

.teaching-material .desc {
    padding-top: 1em;
    padding-bottom: 1em;
    font-style: italic;
    min-height: 35%;
}

.teaching-material a {
    color: rgb(172, 140, 71);
}


/* ----- GLOBAL FOOTER STYLES -----------------*/

#footer-wrapper {
    background-color: rgb(46, 46, 46);
    padding: 1em;
}

footer {
    text-transform: uppercase;
    margin: 0;
    clear: both;
    font-size: .8em;
    text-align: center;
    padding: .6em;
}


/* ----- OTHER STUFF ----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
