/* ---    COLOUR GUIDE

GOLD: rgb(172, 140, 71);
WHITE: rgb(226, 226, 226);
BLACK: rgb(46, 46, 46);
       rgb(15, 15, 15);
       rgba(15, 15, 15, 0.74);

----*/

/*-- apply a natural box layout model to all elements --*/

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/*-----BODY -----*/

body {
    font-size: 19px;
    font-family: Georgia, serif;
    font-weight: 400;
    /*also loaded 600 and 700 for headers and bold*/
    color: rgb(226, 226, 226);
    padding: 2% 6% 6% 6%;
    background-color: rgb(15, 15, 15)
}

/*-------- NAVIGATION STUFF HERE ------*/

#nav-wrapper {
    background-color: rgb(46, 46, 46);
}

nav ul {
    padding: .8em;
}

nav ul li {}

nav ul li a {
    display: block;
    text-align: center;
    font-weight: 400;
    font-size: 1.5em;
    text-decoration: none;
    color: rgb(226, 226, 226);
}

/* -- HERO IMAGE STYLES ---------*/

#hero-image {
    background-image: url("../images/hero-foto-phone.jpg");
    background-repeat: no-repeat;
    background-color: rgb(226, 226, 226);
    height: 676px;
}

/* --- FEATURED SECTION STYLES ----*/

.row h2 {
    border-bottom: 1px solid rgb(128, 128, 128);
}

.row ul {
    list-style: none;
    padding: 0;
}

/* ----- GLOBAL FOOTER STYLES -----------------*/

#footer-wrapper {
    background-color: rgb(46, 46, 46);
}

footer {
    text-transform: uppercase;
    margin: 0;
    clear: both;
    font-size: .8em;
    text-align: center;
    padding: .6em;
}




/* ----- OTHER STUFF ----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
