/* -------------------------------------------------
                     COLOUR GUIDE

GOLD: rgb(172, 140, 71);
WHITE: rgb(226, 226, 226);
BLACK: rgb(46, 46, 46);
       rgb(15, 15, 15);
       rgba(15, 15, 15, 0.74);

-------------------------------------------------- */

@media only screen and (min-width: 641px) {
	
/* NAVIGATION HERE */
	
	nav ul {
		padding: 0;
		margin-left: 2%;
		border-left: solid 1px rgb(226, 226, 226);
		border-top: solid 1px rgb(226, 226, 226);
	}
	
	nav ul li {
		width: auto;
		margin: 0;
	}
	
	nav ul li a {
		/* remove phone effects */
		margin: 0;
		border-radius: 0;
		
		
		/* add tablet effects */
		padding: 1em 1.5em;
		font-weight: 600;
		font-size: 1.2em;
		border-right: solid 1px rgb(226, 226, 226);
	}

} /*end of the media query */