/* -------------------------------------------------
                     COLOUR GUIDE

GOLD: rgb(172, 140, 71);
WHITE: rgb(226, 226, 226);
BLACK: rgb(46, 46, 46);
       rgb(15, 15, 15);
       rgba(15, 15, 15, 0.74);

-------------------------------------------------- */

@media only screen and (min-width: 641px) {

	/* -- HERO IMAGE STYLES ---------*/
	#hero-image {
		background-image: url("../images/piano-tablet.jpg");
		height: 400px;
	}

    /* NAVIGATION HERE */

    nav ul li a {
        /* add tablet effects */
        font-weight: 600;
        font-size: 1.2em;
    }

}

/*end of the media query */
